<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nachrichten für Dozenten</title>
    <link rel="stylesheet" type="text/css" href="../css/groupOrder.css">

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="/services/dozentmessage.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div class ="navbar"></div>
<table>
    <tr>
        <th>ID</th>
        <th>Gruppen_ID</th>
        <th>Nachricht</th>
        <th>Datum</th>
        <th>Art der Anfrage</th>
    </tr>
    <% for (var i = 0; i < messageD.length; i++) { %>
    <tr>
        <td><%= messageD[i].message_id%></td>
        <td><%= messageD[i].group_id %></td>
        <td><%= messageD[i].message %></td>
        <td><%= messageD[i].date %></td>
        <td><%= messageD[i].type %></td>
    </tr>
    <% }%>
</table>
</body>
<footer>
    <div class ="footer"></div>
</footer>
</html>
<script>
    $(function(){
        $(".navbar").load("navbar.html");
    });
</script>

<script>
    $(function(){
        $(".footer").load("footer.html");
    });
</script>